<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductController</servlet-name>
        <servlet-class>controller.product.InsertProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductController</servlet-name>
        <servlet-class>controller.product.ListProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.product.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.product.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCategoryController</servlet-name>
        <servlet-class>controller.category.InsertCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryController</servlet-name>
        <servlet-class>controller.category.DeleteCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryController</servlet-name>
        <servlet-class>controller.category.EditCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBrandController</servlet-name>
        <servlet-class>controller.brand.InsertBrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBrandController</servlet-name>
        <servlet-class>controller.brand.EditBrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBrandController</servlet-name>
        <servlet-class>controller.brand.DeleteBrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBrandController</servlet-name>
        <servlet-class>controller.brand.SearchBrandController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCategoryController</servlet-name>
        <servlet-class>controller.category.SearchCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.dashboard.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>controller.report.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerController</servlet-name>
        <servlet-class>controller.customer.ListCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCustomerController</servlet-name>
        <servlet-class>controller.customer.InsertCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerController</servlet-name>
        <servlet-class>controller.customer.DeleteCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerController</servlet-name>
        <servlet-class>controller.customer.EditCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSupplierController</servlet-name>
        <servlet-class>controller.supplier.ListSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertSupplierController</servlet-name>
        <servlet-class>controller.supplier.InsertSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplierController</servlet-name>
        <servlet-class>controller.supplier.EditSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSupplierController</servlet-name>
        <servlet-class>controller.supplier.DeleteSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePriceController</servlet-name>
        <servlet-class>controller.product.ChangePriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListImportInvoiceController</servlet-name>
        <servlet-class>controller.import_invoice.ListImportInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductController</servlet-name>
        <servlet-class>controller.product.SearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertImportInvoiceController</servlet-name>
        <servlet-class>controller.import_invoice.InsertImportInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUnitController</servlet-name>
        <servlet-class>controller.unit.SearchUnitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUnitController</servlet-name>
        <servlet-class>controller.unit.DeleteUnitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUnitController</servlet-name>
        <servlet-class>controller.unit.InsertUnitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUnitController</servlet-name>
        <servlet-class>controller.unit.EditUnitController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSupplierController</servlet-name>
        <servlet-class>controller.supplier.SearchSupplierController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchImportInvoiceController</servlet-name>
        <servlet-class>controller.import_invoice.SearchImportInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditImportInvoiceController</servlet-name>
        <servlet-class>controller.return_invoice.EditImportInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertReturnInvoiceController</servlet-name>
        <servlet-class>controller.return_invoice.InsertReturnInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListReturnInvoiceController</servlet-name>
        <servlet-class>controller.return_invoice.ListReturnInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchReturnInvoiceController</servlet-name>
        <servlet-class>controller.return_invoice.SearchReturnInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditReturnInvoiceController</servlet-name>
        <servlet-class>controller.return_invoice.EditReturnInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PriceController</servlet-name>
        <servlet-class>controller.product.PriceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellController</servlet-name>
        <servlet-class>controller.sell.SellController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductController</servlet-name>
        <url-pattern>/product/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductController</servlet-name>
        <url-pattern>/product/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/product/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/product/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCategoryController</servlet-name>
        <url-pattern>/category/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryController</servlet-name>
        <url-pattern>/category/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryController</servlet-name>
        <url-pattern>/category/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBrandController</servlet-name>
        <url-pattern>/brand/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBrandController</servlet-name>
        <url-pattern>/brand/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBrandController</servlet-name>
        <url-pattern>/brand/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBrandController</servlet-name>
        <url-pattern>/brand/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCategoryController</servlet-name>
        <url-pattern>/category/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCustomerController</servlet-name>
        <url-pattern>/customer/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCustomerController</servlet-name>
        <url-pattern>/customer/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerController</servlet-name>
        <url-pattern>/customer/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerController</servlet-name>
        <url-pattern>/customer/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSupplierController</servlet-name>
        <url-pattern>/supplier/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertSupplierController</servlet-name>
        <url-pattern>/supplier/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplierController</servlet-name>
        <url-pattern>/supplier/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSupplierController</servlet-name>
        <url-pattern>/supplier/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePriceController</servlet-name>
        <url-pattern>/product/change/price</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListImportInvoiceController</servlet-name>
        <url-pattern>/invoice/import/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductController</servlet-name>
        <url-pattern>/product/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertImportInvoiceController</servlet-name>
        <url-pattern>/invoice/import/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUnitController</servlet-name>
        <url-pattern>/unit/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUnitController</servlet-name>
        <url-pattern>/unit/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUnitController</servlet-name>
        <url-pattern>/unit/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUnitController</servlet-name>
        <url-pattern>/unit/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSupplierController</servlet-name>
        <url-pattern>/supplier/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchImportInvoiceController</servlet-name>
        <url-pattern>/invoice/import/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditImportInvoiceController</servlet-name>
        <url-pattern>/invoice/import/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertReturnInvoiceController</servlet-name>
        <url-pattern>/invoice/return/insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListReturnInvoiceController</servlet-name>
        <url-pattern>/invoice/return/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchReturnInvoiceController</servlet-name>
        <url-pattern>/invoice/return/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditReturnInvoiceController</servlet-name>
        <url-pattern>/invoice/return/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriceController</servlet-name>
        <url-pattern>/product/edit/price</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellController</servlet-name>
        <url-pattern>/sell</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300000
        </session-timeout>
    </session-config>
</web-app>
