/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 5, 2022, 10:34:35 AM
    Author     : ADMIN
*/

*, body{
    margin:0;
    padding:0;
    max-width: 100vw;
}

body {
    background: #FFFFFF;
}

.slider-menu{
    background-color: #fff;
    box-shadow: 0px 0px 20px #d4d4d4;
    height: 100vh;
    width: 250px;
    z-index: 1;
    position: fixed;
    overflow: auto;
    top:0;
    left:0;
    white-space: nowrap;
    transition: 0.3s ease;
}        

.slider-menu .links-group-title {
    padding: 8px 8px 8px 25px;
    font-size: 12px;
    font-weight: bold;
    color: #868686;
    /*font-family: "Garamond", serif, sans-serif;*/
    text-transform: uppercase;
}


.slider-menu .slider-item{
    padding: 8px 8px 8px 10px;
    font-size: 17px;
    font-weight: bold;
    color: #454545;
    margin-left: 10px; 
    margin-right: 10px;
    border-radius: 10px; 
    /*font-family: "Georgia", serif, sans-serif;*/
}
.slider-menu .slider-item:hover{
    background-color: #E2EDFC;
    cursor: pointer;
}



.slider-menu .slider-item .fa{
    color: gray;
    width: 20px;
    font-size: 17px;
    padding: 10px 17px 10px 10px;

}

.slider-menu .slider-item:hover .fa,
.slider-menu .slider-item:hover {
    color: #1d0daa;
}

section.setting {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    width: 250px;
    height: 74px;
    background-color: #f3f3f3;
}

.header {
    border-bottom: 1px solid black;
}

.header .title {
    padding: 20px 0 20px 280px; 
    font-size: 20px;
    font-weight: 400;
}

.header, .container {
    /*font-family: "Times New Roman", serif, sans-serif;*/
}

.container {
    margin-left: 250px;
    padding: 0px 15px 15px 15px;
}


.container .top .horizontal-search,
.container .top .btn-add {
    display: inline-block;
}

.container .top .btn-add button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background: #fff;
    color: #3D3D3D;
    transition: 0.3s ease;
}

.container .top .btn-add button:hover {
    box-shadow: 0px 0px 3px 3px #ccc;
    color: blue;
}


.container .top .btn-add {
    position: absolute;
    right: 0;
}

.container .top .horizontal-search form  {
    position: relative;
}

.container .header .title {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}


.container .top .horizontal-search input {
    display: block;
    width: 400px; 
    height: 35px;
    font-size: 15px;
    color: #000;
    padding: 10px ;
    padding-left: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

    transition: 0.3s ease;
    outline: none;
}

.container .top .horizontal-search input:focus {
    box-shadow: 0px 0px 2px 2px #ccc;
    border: 0.5px solid blue;
}

.container .top .horizontal-search button {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 15px;
    color: #6D6D6D;
    cursor: pointer;
    outline: 0;
}

.container .top .group-search {
    position: relative;
    margin: 15px 15px 15px 15px;
}

.container .top .container .bottom {
    margin: 15px 15px 15px 0;
}

.container .bottom {
    position: relative;
    top: 15px;
}

.container .bottom .pageSize, 
.container .bottom .pagger {
    display: inline-block;
    position: absolute;
    top: 0;
}

.container .bottom  span {
    position: absolute;
    left: 30vw;
}

.container .bottom .pagger {
    right: 100px;
}
.container .bottom .pageSize {
    left: 15px; 
}

.selected-page {
    font-weight: bold;
    background: #ccc;
}

.container .bottom .pagger input {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    cursor: pointer;
}
.container .bottom .pagger input:hover {
    background: #ccc;
}


.container .main-content .middle {
    margin-left: 15px;
    width: 1220px;
    height: 475px;
    overflow: auto;
}
.container .main-content .middle table
 {
    /*margin-top: 15px;*/
    font-size: 17px;
    text-align: left;
    width: 1220px;
    table-layout: fixed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
    /*box-sizing: border-box;*/
}

.container .main-content .middle thead{
    position: sticky;
    top:0;
    background-color: #009879;
    color: #ffffff;
}

.container .main-content .middle table thead td, 
.container .main-content .middle table tbody td {
    width: 100px;
    padding: 10px;
    word-wrap: break-word;    
}

.container .main-content .middle table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.container .main-content .middle table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.container .main-content .middle table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition-duration: 0s;
    z-index: 2;
}

.modal .modal-header {
    position: relative;
}

.modal .modal-header .title, 
.modal .modal-header .btn-close {
    display: inline-block;

}

.modal .modal-header .btn-close  {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    top: 10px;
    right: 0;
    border: none;
    background: none;
    color: #837DEC;
}

.modal .modal-header .btn-close:hover {
    color: black;
}

.modal .modal-header .title {
    font-weight: bold;
    font-size: 15px;
    color: #837DEC;
    padding: 10px 10px 10px 0;
}

.modal .modal-header {
    border-bottom: 2px solid #837DEC;   
}

.modal .btn-save,
.modal .btn-save {
    width: 255px;
    height: 35px;
    margin-top: 20px;
    background: #837DEC;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    color: #fff;
}

.modal .btn-save:hover, 
.modal .btn-save:hover {
    background: #ccc;
    color: #000;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #000;
}


